.layout {
  min-height: 100vh;
  background: rgb(214, 183, 240);
  background: linear-gradient(157deg, rgba(214, 183, 240, 1) 0%, rgba(236, 123, 103, 1) 80%, rgba(231, 118, 106, 1) 100%);
  padding: 5rem;

  .container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    min-height: 100%;
    padding: 3rem;
    background: linear-gradient(179.46deg, rgba(255, 255, 255, 0.7) 0.46%, rgba(255, 255, 255, 0.7) 113.24%, rgba(255, 255, 255, 0.07) 113.25%);
    backdrop-filter: blur(24px);
    border-radius: 36px;
    border: 2px solid #ffffff;
  }
}

@media screen and (max-width: 768px){
  .layout{
    padding: 2rem;
    .container{
      padding: 1rem;
    }
  }

}