.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo-title {
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
    margin-left: 3rem;
    color: #D26032;
  }

  .links {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 7rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    .link {
      color: #2E487C;

      &:hover{
        color: #D26032;
      }
    }
  }
}