.input-wrapper {
  display: flex;
  flex-direction: column;

  label{
    font-weight: 600;
  }
  input, select {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #D26032;
  }

}