.profile-container {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin: 0 15rem;
  align-items: center;

  .student-progress {
    width: 70%;
    height: 650px;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 4rem;
    font-size: 30px;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .progress-subheading {
      font-size: 20px;
      font-weight: 500;
      margin-top: 1rem;
    }

    .timeline {
      font-size: 16px;
      font-weight: 600;

      height: 80%;
      padding: 1rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .timeline-line {
        height: 8px;
        width: 100%;
        background-color: #E69AA1;
      }

      .timeline-dots {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: -50px;

        .dot-sz {
          text-align: center;
          width: 125px;

          .dot {
            height: 115px;
            width: 115px;
            border-radius: 100px;
            z-index: 1000px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 0px 10px 2px #E69AA1;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 1rem;

            img {
              display: block;
            }

          }
        }


        .dot-last {
          height: 120px;
          width: 120px;
          border-radius: 100px;
          z-index: 1000px;
          background: #FFFFFF;
          border: 1px solid #FFFFFF;

          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }

  .student-info {
    width: 30%;
    height: 75vh;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 36px;

    .student-info-header {
      height: 25%;
      background: linear-gradient(157deg, rgba(214, 183, 240, 1) 0%, rgba(236, 123, 103, 1) 80%, rgba(231, 118, 106, 1) 100%);
      border-top-left-radius: 36px;
      border-top-right-radius: 36px;


    }

    .student-avatar {
      z-index: 999;
      margin-top: -100px;
      height: 199px;
      width: 205px;
      border-radius: 100px;
      margin: -100px auto;

      .avatar-img {
        width: 100%;
        border-radius: 100px;

      }
    }

    .student-data {
      color: #C577B6;
      font-size: 20px;
      line-height: 50px;
      margin-top: 80px;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-name {
        margin: auto;
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 500;
        color: #772467;
      }

      span {
        display: inline-block;
        margin-left: 2rem;
        color: #000;

      }
    }


  }
}


@media screen and (max-width: 1440px) {
  .profile-container {
    font-size: 8px;
    padding: 2rem;
    margin: 0;
    align-items: flex-start;
    gap: 1.5rem;

     .student-progress {
    width: 70%;
    height: 650px;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    padding: 4rem;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .progress-subheading {
      font-size: 16px;
      font-weight: 500;
      margin-top: 1rem;

     
    }

    .timeline {
      font-size: 12px;
      font-weight: 600;

      height: 80%;
      padding: 1rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .timeline-line {
        height: 8px;
        width: 100%;
        background-color: #E69AA1;
      }

      .timeline-dots {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: -50px;

        .dot-sz {
          text-align: center;
          width: 125px;

          .dot {
            height: 115px;
            width: 115px;
            border-radius: 100px;
            z-index: 1000px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 0px 10px 2px #E69AA1;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 1rem;

            img {
              display: block;
            }

          }
        }


        .dot-last {
          height: 120px;
          width: 120px;
          border-radius: 100px;
          z-index: 1000px;
          background: #FFFFFF;
          border: 1px solid #FFFFFF;

          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }

  .student-info {
    width: 25%;
    height: 75vh;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 36px;

    .student-info-header {
      height: 25%;
      background: linear-gradient(157deg, rgba(214, 183, 240, 1) 0%, rgba(236, 123, 103, 1) 80%, rgba(231, 118, 106, 1) 100%);
      border-top-left-radius: 36px;
      border-top-right-radius: 36px;
    }

    .student-avatar {
      z-index: 999;
      margin-top: -100px;
      height: 199px;
      width: 205px;
      border-radius: 100px;
      margin: -100px auto;

      .avatar-img {
        width: 100%;
        border-radius: 100px;

      }
    }

    .student-data {
      color: #C577B6;
      font-size: 13px;
      line-height: 50px;
      margin-top: 80px;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-name {
        margin: auto;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 500;
        color: #772467;
      }

      span {
        display: inline-block;
        margin-left: 1rem;
        color: #000;

      }
    }


  }
    
  }

}
