// .header-profile {
//     font-family: 'Poppins';
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 50px;

//     display: flex;
//     padding: 4rem 8rem;
//     // justify-content: space-between;
//     align-items: center;
//     width: 100%;
  
//     .logo-title {
//       font-weight: bold;
//       font-size: 3rem;
//       align-self: center;
//       margin-left: 3rem;
//       color: #D26032;
//     }
  
//     .profile-header-navs {
//       display: flex;
//       align-items: center;
//       font-size: 1.5rem;
  
//       .link {
//         margin-right: 5rem;
//         font-weight: 500;
//         &:hover{
//           color: #772467;
//         }
//       }

//       .avatar{
//           height: 80px;
//           width: 80px;
//       }
//     }
//   }

.header-profile {
  padding: 4rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo-title {
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
    margin-left: 3rem;
    color: #D26032;
  }

  .profile-header-navs {
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    .link {
      margin-right: 5rem;
      &:hover{
        color: #D26032;
      }
    }

    .avatar{
      width: 80px;
      height: 80px;
      border-radius: 100px;
    }
  }
}