

.header-profile {
  padding: 4rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo-title {
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
    margin-left: 3rem;
    color: #D26032;
  }

  .profile-header-navs {
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    .link {
      margin-right: 5rem;

      &:hover {
        color: #D26032;
      }
    }

    .avatar{
      width: 80px;
      height: 80px;
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-profile {
    padding: 2rem 4rem;
    flex-direction: column;

    .profile-header-navs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .link{
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1445px) {
  .header-profile {
    padding: 2rem 4rem;
    flex-direction: row;

    .logo-title {
      font-weight: bold;
      font-size: 2rem;
      align-self: center;
      margin-left: 3rem;
      color: #D26032;
    }

    .profile-header-navs {
      width: 100%;
      display: flex;
      font-size: 1.2rem;

      justify-content: right;
      .link{
        margin-right: 2rem;
      }
    }
  }

}